.fab {
    color: orange;
    width: 130px;
    height: 130px;
    margin-top: 20px; 
    padding-top: 25px;
    justify-content: center;
    background-color: lightgray;
    border: 1px lightgray solid;
    border-radius: 50%;
    font-size: 80px;
}

.row,
.heading {
    width: 100%;
    text-align: center;
}