body {
  color: #fff;
  min-height: 100vh; }

a {
  color: #fff; }

.margin-bottom {
  margin-bottom: 0px; }

.margin-right {
  margin-right: 5px; }

.container {
  padding-top: 20px;
  padding-bottom: 30px;
  width: 75%; }

#img-bg {
  background-image: url(../img/background.png);
  background-position: center;
  background-size: cover;
  min-height: 80vh; }

.yellow {
  color: #ecd407; }

.bg-yellow {
  background-color: #ecd407;
  color: #000;
  padding: 5px; }

.btn-primary {
  background-color: #ecd407;
  color: #000; }

.btn-primary:hover {
  background-color: #ecd407;
  color: #fff;
  opacity: 0.9; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.inline {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row; }

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

@media (max-width: 600px) {
  .mobile {
    display: block; }
  .mobile-center {
    display: flex;
    align-items: center;
    justify-content: center; }
  h3,
  h4 {
    text-align: center; } }

form {
  background-color: #001d8a;
  padding: 20px; }

footer {
  background-color: #292929;
  text-align: justify;
  min-height: 20vh; }
