body {
    margin: 20px;
}
#customer {
    border: 1px solid black;
    width: 800px;
    height: 150px;
    position: relative;
}
#books {
    margin-top: 20px;
    border: 1px solid black;
    width: 800px;
    height: 70px;
    position: relative;
    margin-bottom: 5px;
}
h2 {
    position: absolute;
    top: -30px;
    left: 20px;
    font-size: 20px;
    background-color: white;
}

.dane {
    margin: 5px;
    margin-top: 20px;
    width: 300px;
}

#ksiazki {
    margin: 20px;
}

label input {
    display: inline-block;
}
label {
    margin-left: 50px;
}

select {
    width: 200px;
    margin-left: 50px;
}