p {
    color: gray;
}
.list-item {
    color: red;
}
#about {
    background-color: pink;
}
#about p {
    color: green;
}
#about > p {
    color: blue;
}
.first + li {
    color: orange;
}
.item ~ li {
    color: yellow;
}
* {
    font-size: 1.5em;
}
ul.list {
    background-color: violet;
}
