#duzy {
    width: 400px;
    height: 400px;
    background-color: #a6a9b6;
    border: 10px solid #666360;
    position: relative;
    margin: 20px;
}

.maly{
    width: 200px;
    height: 200px;
    position: absolute;
}

#orange {  
    bottom: 0px;
    background-color: #ff912e;
    width: 10%;
}
#white {
    right: 0px;;
    background-color: #e4e4e4;
    width: 300px;
}

#gray {  
    bottom: 0px;
    background-color: gray;
    width: 20em;
}
#red {
    right: 0px;;
    background-color: red;
    width: 20vh;
}